################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/My Advisor Results - lmdb
/lmdb.VC.VC.opendb
